<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/product_detail.css">
    <title>Document</title>
</head>
<body>
    <container id="main"> 
        <section id="product-detail">
            <article id="product-images">
                <img src="image/item.png" width="600px">
            </article>
            <article id="product-prices">
                <div id="store">
                    <img src="/image/store1.png" height="46px" style="border: 1px solid black;">
                    <div id="storeName">
                        <p><strong>마인드 브릿지</strong></p>
                        <p style="color: rgb(131, 131, 131); font-size: 13px;">스토어 바로가기 > </p>
                    </div>
                </div>
                <div id="product-name">
                    <h2>[1+1][화이트컬러 재입고][수피마]에어로쿨티셔츠_반팔 MVTS0140</h2>
                    <span style="color: rgb(190, 134, 64); font-size: 30px;"><strong>3%</strong></span>
                    <span style="font-size: 30px; margin: 0px 5px;"><strong>38,700원</strong></span>
                    <span style="color: gray; font-size: 18px;"><del>39,900원</del></span>
                </div>
                <div id="coupon">
                    <div style="width: 5px; height: 100%; background-color: rgb(190, 134, 64);">
                    </div>
                    <div id="coupon-prices">
                        <p style="color: rgb(190, 134, 64); font-size: 15px;"><strong>쿠폰 적용가 30,960원</strong></p>
                        <p style="color: rgb(131, 131, 131); font-size: 11px;">(하이버 쿠폰 다운로드 후 결제 시 적용 가능합니다) </p>
                    </div>
                    <img src="/image/쿠폰1.png" height="38px">
                </div>
                <div id="product-money">
                    <div class="product-detail-category">
                        <p style="color: rgb(131, 131, 131);">적립금</p>
                        <p style="margin-left: 65px;">387원 (1% 적립)</p>
                    </div>
                    <div class="product-detail-category">
                        <p style="color: rgb(131, 131, 131);">배송비</p>
                        <p style="margin-left: 65px;">하이버는 전상품 무료배송!</p>
                    </div>
                    <div class="product-detail-category">
                        <p style="color: rgb(131, 131, 131);">리뷰정보</p>
                        <p style="margin-left: 50px;"><ins>28개의 리뷰보기</ins></p>
                    </div>
                    <div class="product-detail-category">
                        <p style="color: rgb(131, 131, 131);">정품인증</p>
                        <p style="margin-left: 50px;">하이버 모든 상품은 100% 정품입니다.</p>
                    </div>
                </div>
                <div class="option1" style="margin-bottom: -30px;">
                    <button class="dropbtn">[선택 1] 옵션을 선택하세요.</button>
                        <div class="dropdown-content">
                            <a href="#">홈</a>
                            <a href="#">회사소개</a>
                            <a href="#">제품소개</a>
                            <a href="#">오시는길</a>
                        </div>
                </div>
                <div class="option1">
                    <button class="dropbtn">[선택 2] 옵션을 선택하세요.</button>
                        <div class="dropdown-content">
                            <a href="#">홈</a>
                            <a href="#">회사소개</a>
                            <a href="#">제품소개</a>
                            <a href="#">오시는길</a>
                        </div>
                </div>
                <div id="total-prices">
                    <p style="font-size: 17px;"><strong>총 상품 금액</strong></p>
                    <p style="font-size: 30px; color: rgb(190, 134, 64);"><strong>0원</strong></p>
                </div>
                <div id="choose">
                    <div id="cart">
                        장바구니
                    </div>
                    <div id="buy">
                        바로 구매
                    </div>
                    <div id="heart">
                        🤍
                    </div>
                </div>
            </article>
            <article id="product-category">
                <div class="product-category-choose">
                    상품정보
                </div>
                <div class="product-category-choose">
                    리뷰
                </div>
                <div class="product-category-choose">
                    Q&A
                </div>
                <div class="product-category-choose">
                    주문정보
                </div>
                <div class="product-detail-choose" style="display: none;">
                    <img src="image/detail1.png" width="1000px" style="margin-left: 70px;">
                </div>
                <div class="product-detail-choose">
                    <p>사진 리뷰 7</p>
                    <hr>
                    <div style="display: flex;">
                        <img src="https://avatars.githubusercontent.com/u/65885185?s=60&v=4" style="border-radius: 30px; margin-right: 30px;" width="60px">
                        <p style="font-size: 20px;">gy*********<br>2021.07.02</p>
                    </div>
                    <p style="float: right;">170cm</p>
                    <p style="float: left; margin: 50px 0px 0px 30px;">이정도면 인생 기본티</p>
                    <div style="width: 1000px; height: 100px; ">
                    </div>
                    <img src="https://avatars.githubusercontent.com/u/65885185?s=60&v=4" style=" margin-left: 30px;" width="150px">
                </div>
                <div class="product-detail-choose"style="display: none;">
                    <img src="/image/qa.png" width="1000px" style="margin-left: 70px;">
                </div>
                <div class="product-detail-choose" style="display: none;">
                    <img src="/image/order.png" width="1000px" style="margin-left: 70px;">
                </div>
                <div class="product-detail-choose">
                </div>
            </article>
        </section>
    </container>
</body>
</html>

